.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #202027;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.about-contact{
    background-color:#202027;
    color:white; 
    min-width: 200px;
    padding: 0 200px;
}

.redes{
    background-color:#202027;
    color:white; 
    min-width: 200px;
    padding: 0 200px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: row;
    height: 55px;
    padding: 16px;
  }

  .about-contact,
  .redes {
    min-width: auto;
    padding: 8px;
  }
}