.hero{
  height: 100vh;
}
.girl{
  display: none;
}
.Title{
  font-size: 3.5rem;
  margin-bottom: 25px;
  font-weight: 350;
  line-height: 1.4;
}
.Subtitle{
  font-size: .9rem;
  font-weight: 350;
  line-height: 1.4;
  padding-right: 10px;
  letter-spacing: 1.5px;
}
.text{
  margin-left: 75px;
  margin-top: 180px;
  margin-right: 75px;
}
.buttonAnt{
  margin-top: 20px;
}
.buttonAnt{
  background-color: var(--button-bg-color);
}
.buttonAnt:hover{
  background-color: var(--button-hover-color);
}
.buttonAnt:focus{
  background-color: var(--button-focus-color);
}
@media (min-width: 768px) {
  .home-element {
    display: flex;
  }
  .girl-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }
  .girl-wrapper{
    display: flex;
    flex-direction: row;
  }
  .girl {
    transform: translateX(60%);
    width: 400px;
  } 
  .Title{
    font-size: 40px;
  } 
  .Subtitle{
    font-size: 13px;
  }
  .text{
    margin-left: 20%;
    margin-top: 7rem;
  }
}
