.titleJoin,
.Formulario {
  margin-left: 70px;
  margin-right: 140px;
}
.titleJoin{
  font-size: 50px;
  margin-top: 40px;
  justify-content: center;
}
.color{
    color: #bc3a80;
}

@media (min-width: 768px){
  .titleJoin{
    display: flex;
    justify-content: center;

  }
}